
@import "../../scss/mixin/sizing";

@import "../../scss/var/animation";
@import "../../scss/var/breakpoints";
@import "../../scss/var/colors";
@import "../../scss/var/dimensions";

.xc-feat-imgs {
  align-items: flex-start;
  color: $color__blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  padding: 1em;
  padding-right: 0;
  max-width: 100%;
}

.xc-feat-imgs__action {
  @include size(auto, 3em);
  align-items: center;
  background-color: $color__white;
  border: 2px solid $color__blue;
  border-radius: 1.5em;
  color: $color__blue;
  display: flex;
  padding: 0 1em;
  text-decoration: none;
  transition: all $ani__dur ease-in-out;

  &:hover {
    background-color: $color__blue;
    color: $color__white;
  }
}

.xc-feat-imgs__col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.xc-feat-imgs__col--feature {
  margin-bottom: 2em;

  .xc-feat-imgs__img {
    margin-bottom: 1em;
  }
}

.xc-feat-imgs__img {
  width: 100%;
  max-width: 100%;
}

.xc-feat-imgs__row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.xc-feat-imgs__row--images {
  display: none;
}

@media (min-width: $bp__sm) {
  .xc-feat-imgs {
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .xc-feat-imgs__action {
    @include size(auto, 2em);
    border-radius: 1em;
  }

  .xc-feat-imgs__col {
    padding: 0 0.5em;
    width: $feat-imgs__col;
  }

  .xc-feat-imgs__row--features {
    .xc-feat-imgs__img {
      display: none;
    }
  }

  .xc-feat-imgs__row--images {
    display: flex;
  }
}

@media (min-width: $bp__md) {
  .xc-feat-imgs {
    padding-right: 6em;
    padding-left: 6em;
  }
}
