
<div class="xc-feat-imgs">

  <draggable class="xc-feat-imgs__row xc-feat-imgs__row--images"
    :options="dragOptions"
    v-model="sortedImages"
    @change="resetFeatureImages" >

    <div class="xc-feat-imgs__col xc-feat-imgs__col--image"
      :key="'feature-img-' + index"
      v-for="(img, index) in sortedImages" >

      <img class="xc-feat-imgs__img"
        alt="img.alt"
        :src="img.src" />

    </div>

  </draggable>

  <div class="xc-feat-imgs__row xc-feat-imgs__row--features"
    slot="footer">

    <div class="xc-feat-imgs__col xc-feat-imgs__col--feature"
      :key="'feature-' + index"
      v-for="(feature, index) in features" >

      <img class="xc-feat-imgs__img"
        alt="feature.image.alt"
        :src="feature.image.src"
        v-if="feature.image.id" />

      <h3>{{ feature.title }}</h3>

      <div class="xc-feat-imgs__text"
        v-html="feature.text">
      </div>

      <a class="xc-feat-imgs__action"
        tabindex="index"
        :href="feature.cta.url"
        :target="feature.cta.target"
        v-if="feature.cta" >
        {{ feature.cta.text }}
      </a>

    </div>

  </div>

</div>
