//Responsive breakpoints -- currently landscape tablets may be wonky. TODO: fix this maybe 
$screen-xs-max: 767.98px; //to account for iPads being exactly 768px. 
$screen-sm:     768px; 
$screen-md:     992px; 
$screen-lg:     1200px; 

///////////////////
// Color Scheme //
//////////////////
$white:   #ffffff; 
$md-grey: #7f807f;
$bg-blue: #354B58;
$bg-alt:  #3c505c;
$accent:  #22abc8; 

///////////////////
//     Font     //
//////////////////
//Fonts 
$sans-serif: 'Arial', Helvetica, sans-serif;
$serif: 'Cambria', Georgia, Garamond, serif;;
//Font Colors 
$body-font-color: #7aa0bc;
 
