.sample-article {
    color: #6a96b2;
    display: inline-block;
    max-width: 30%;
    padding-right: 1.5%;
}

.sample-article:last-child {
    padding: 0px;
}

.article-img {
    max-width: 500px;
    width: 100%;
}

.button {
    border: 2px #6a96b2 solid;
    border-radius: 20px;
    color: #6a96b2;
    display: inline-block;
    margin: 10px 0 20px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .sample-article {
        max-width: 100%;
        padding-right: 0;
    }
}