@font-face {
    font-family: 'roboto_slab';
    src: url('/fonts/robotoslab-bold.woff2') format('woff2'),
         url('/fonts/robotoslab-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_slab';
    src: url('/fonts/robotoslab-regular.woff2') format('woff2'),
         url('/fonts/robotoslab-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
