
.c-main-navigation ul
{
  display: none;
}

.c-mobile-menu
{
  cursor: pointer;
}

.c-mobile-menu__icon
{
  position: relative;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.c-mobile-menu__icon:before{
  margin-top:-12px;
}

.c-mobile-menu__icon:after{
  margin-top:12px;
}

.c-mobile-menu__icon:before,
.c-mobile-menu__icon:after
{
  position: absolute;
  content: "";
}

.c-mobile-menu__icon,
.c-mobile-menu__icon:before,
.c-mobile-menu__icon:after
{
  width: 30px;
  height: 6px;
  background-color: currentColor;
  display: block;
}

.c-mobile-menu__label
{
  margin-top:1rem;
  height: 0;
  visibility: hidden;
}

@media screen and (-ms-high-contrast: active)
{
  /**
  * Support: Accessibility (A11y)
  * Details: When a user has high contrast, they won't be able to see the hamburger icon, so add the border when high-contrast mode is active so users can see it.
  */

  .c-mobile-menu__icon,
  .c-mobile-menu__icon:after,
  .c-mobile-menu__icon:before
  {
      border: 1px solid;
  }

  .c-mobile-menu__icon:after
  {
      margin-top: 11px;
  }

  .c-mobile-menu__icon:before,
  .c-mobile-menu__icon:after
  {
      margin-left: -1px /* Because pseudo-elements are contained by the elements formatting box & that box has a border applied, a negative margin needs to be applied to keep them aligned */;
  }

  .c-mobile-menu__label
  {
    visibility: visible;
    height: auto;
  }

}