//Typography 
p, h3, a {
        color:#79a0ba;
        font-family: 'Bitter', serif;
}

h3 {
        font-size: 24px;
}

p {
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 15px;
        margin: 0 0 10px;
}


