
@import './breakpoints';

$app__width: 100vw;
$app__height: 100vh;

$app__min: 100vmin;

$app__margin: $app__min / 9;

/**
 * Shaded Section - sha-sec
 */

 $sha-sec__width: $app__width;
 $sha-sec__height: $app__height * 0.40;
