.grid {
    display: flex; 
    margin: 0 auto; 
    &__col {
        padding: 10px;  
        @media (max-width: $screen-xs-max) {
            display: flex;
            justify-content: center;
        }
        @media (min-width: $screen-sm) {
            flex: 0 0 33.3333%; //handles splitting columns evenly. Otherwise it'll work based off content. 
        }
    }

    @media (max-width: $screen-xs-max) {
        flex-direction: column;
        
    }
    @media (min-width: $screen-sm) {
        justify-content: space-around;
        max-width: 1330px;
    }
}

