.header {
    background-color: $bg-blue;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    color: $white; 
    min-height: 70px; 
    display: flex;
    //margin: 0 auto; 

    //need this to behave slightly differently than standard grid setup? Unsure whether to put here or in _grid. 
    .h-nav {
        align-items: center;
        width: 10%;
    }

    .h-col {
        margin: 15px; 
        align-items: center; 
    }

    //Just to get everything lined up correctly. Definitely gross. 
    .h-space {
        width: 30%;
    }

    a {
        color: $md-grey;
        min-height: 70px;
    }
   
    //Extra small screesn 
    @media (max-width: $screen-sm) {

    }
    //Small Screens
    @media (min-width: $screen-sm) {
        height: 100px;
        .h-space{
            width: 50%;
        }
    }
    //Tablet/low res laptop
    @media (min-width: $screen-md) {
        height: 197px;
        background-image: url("./../assets/images/medium-header.png");
    }
    //Desktop
    @media (min-width: $screen-lg) {
        height: 123px;
        background-image: url("./../assets/images/desktop-header.png");
    }
}