
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

@import '../../scss/reset';

@import '../../scss/mixin/sizing';

@import '../../scss/var/colors';
@import '../../scss/var/dimensions';
@import '../../scss/var/fonts';

.xc-home {

  * {
    font-family: $font__family;
    font-size: $font__size;
  }

  a {
    color: $color__link;

    &:hover {
      color: $color__link--hover;
      text-decoration: none;
    }
  }

  blockquote {
    font-size: $font__size--blockquote;
  }

  h1, h2, h3, h4 {
    font-family: $font__family--header;
  }

  h1 {
    font-size: $font__size--h1;
  }

  h2 {
    font-size: $font__size--h2;
  }

  h3 {
    font-size: $font__size--h3;
  }

  h4 {
    font-size: $font__size--h4;
  }

}
