// -------------------- typography --------------------

$font-family-default: 'Merriweather', serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-color-default: #e3e3e3;
$font-color-hover: #bfbfbf;
$font-color-blue: #79a0ba;
$font-size-default: 1.7rem;
$font-size-small: 1.3rem;
$line-height-default: 1.5;

// -------------------- colors --------------------
$theme-color: #3d7091;
$muted-color: rgba(182, 182, 182, 0.22);
$dark-color: #2b2b2b;

// -------------------- layout --------------------
$desktop-content-width: 1100px;
$card-width: 360px;
