// Site variables

// Colors
$header-bg-color: #344b57;
$header-color: #7F807F;
$footer-color: #7F807F;
$slide-indicators: #808080;
$main-color: #79A0BA;
$download-btn-bg-color: #2E3135;

// Borders
$thin-border: 1px solid #7F807F;
$thick-border: 2px solid #39454c;
$faint-border: 2px solid #40535D;

$big-radius: 10px;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
